version: '3.5'

services:
  symfony-course-skeleton-app:
    container_name: symfony-course-skeleton-app
    build:
      context: ./docker
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=symfony-course-skeleton-server
    ports:
      - '1000:8000'
    networks:
      - symfony-course-skeleton-network
    depends_on:
      - symfony-course-skeleton-mysql

  symfony-course-skeleton-mysql:
    container_name: symfony-course-skeleton-mysql
    image: mysql:8.0.26
    ports:
      - '3336:3306'
    environment:
      MYSQL_DATABASE: symfony
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - symfony-course-skeleton-mysql-data:/var/lib/mysql
    networks:
      - symfony-course-skeleton-network
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]

networks:
  symfony-course-skeleton-network:

volumes:
  symfony-course-skeleton-mysql-data:

