{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                Column 1
            </div>
            <div class="col">
                Column 2
            </div>
            <div class="col">
                Column 3
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary">Press me!</button>
        </div>
    </div>
{% endblock %}